<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
      <h2 class="text-center section-title mb-0">Securely Access Your Firm</h2>
      <h3 class="text-center">Service Your Clients</h3>
  </div>
</section>

<!-- Login Section starts -->
<section class="pt-5 pb-5">
  <div class="container">
      <h1 class="h2 text-primary text-center section-title section-title-hx pb-2 mb-3">Sign In to HOXRO</h1>
      
      <div class="user-form-container">
          <form class="user-form-form" novalidate action="self">
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span><i class="fa fa-user" aria-hidden="true"></i></span>
                  </div>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
              </div>
      
              <!-- <div class="alert alert-danger">
                  <span>
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  </span> &nbsp; errMsg
              </div> -->
      
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span>
                          <i class="fa fa-lock" aria-hidden="true"></i>
                      </span>
                  </div>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              </div>
      
              <!-- <div class="alert alert-danger">
                  <span>
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  </span> &nbsp; errMsg
              </div> -->
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-check form-group">
                          <input class="form-check-input" type="checkbox" value="" name="signedIn">
                          <label class="form-check-label" for="signedIn">
                              Keep me signed in
                          </label>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="text-right form-group">
                          <a href="javascript:void(0)">Forgot Password?</a>
                      </div>
                  </div>
              </div>

              <button class="btn btn-block login-btn" name="login">Sign In</button>
              
              <div class="text-center login-or">
                  <p>or</p>
              </div>
      
              <button class="btn btn-block signin-btn google-btn" type="button">
                  <div class="vendor-logo">
                      <img src="assets/images/btn_google_logo.png" alt="Sign in with Google">
                  </div>
                  <span class="login--text">
                      Sign in with Google
                  </span>
              </button>
              <button class="btn btn-block signin-btn microsoft-btn" type="button">
                  <div class="vendor-logo">
                      <img src="assets/images/btn_microsoft_logo.png" alt="Sign in with Microsoft">
                  </div>
                  <span class="login--text">
                      Sign in with Microsoft
                  </span>
              </button>
          </form>
      </div>
  </div>

</section>