<header>
    <section class="header-top-section">
        <div class="container">
            <div class="header-top-content">
                <div class="header-top-left">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="tel:000 0000 0000">
                                <i class="fa fa-phone-square" aria-hidden="true"></i> Sales : 000-0000-0000
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 8:30am-6pm, Mon - Fri
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-top-right">
                    <!-- header Sales contact -->
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a routerLink="/sign-in" routerLinkActive="active">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/sign-up" routerLinkActive="active">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
                            </a>
                        </li>
                    </ul>
    
                    <!-- header socials -->
                    <ul class="list-inline header-socials">
                        <li class="list-inline-item">
                            <a href="javascript:void(0)" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)" target="_blank">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0)" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="header-nav-section">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/images/hoxro-logo.png" alt="Cloud-based Legal Management Software - Hoxro LMS">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Features
                            </a>
                            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/features" routerLinkActive="active">
                                            <strong>All Features</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/features/case-management" routerLinkActive="active">Case Management</a>
                                    </li>
                                    <li>
                                        <a routerLink="/features/practice-management" routerLinkActive="active">Practice Management</a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/features/document-management" routerLinkActive="active">Document Management</a>
                                    </li>
                                    <li>
                                        <a routerLink="/features/contact-management" routerLinkActive="active">Contact Management</a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/features/billing-management" routerLinkActive="active">Billing Management</a>
                                    </li>
                                    <li>
                                        <a routerLink="/features/finance-management" routerLinkActive="active">Finance Management</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/why-hoxro" routerLinkActive="active">Why HOXRO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pricing" routerLinkActive="active">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="moreDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                More
                            </a>
                            <div class="dropdown-menu mega-menu" aria-labelledby="moreDropdown">
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/how-to-choose" routerLinkActive="active">How to choose the right Legal Practice</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-theme" href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
            </nav>
        </div>
    </section>

</header>