<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-3">
              <div class="footer-link-list">
                  <h4>Product Information</h4>
                  <ul class="list-unstyled">
                      <li>
                          <a href="why_hoxro.html">Why HOXRO</a>
                      </li>
                      <li>
                          <a href="features.html">Features</a>
                      </li>
                      <li>
                          <a href="pricing.html">Pricing</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">Security</a>
                      </li>
                      <li>
                          <a href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
                      </li>
                      <li>
                          <a href="sign_up.html">Sign Up</a>
                      </li>
                      <li>
                          <a href="sign_in.html">Login</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="footer-link-list">
                  <h4>Legal Management System</h4>
                  <ul class="list-unstyled">
                      <li>
                          <a href="case_management.html">Case Management</a>
                      </li>
                      <li>
                          <a href="practice_management.html">Practice Management</a>
                      </li>
                      <li>
                          <a href="document_management.html">Document Management</a>
                      </li>
                      <li>
                          <a href="contact_management.html">Contact Management</a>
                      </li>
                      <li>
                          <a href="billing_management.html">Billing Management</a>
                      </li>
                      <li>
                          <a href="finance_management.html">Finance Management</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-lg-2">
              <div class="footer-link-list">
                  <h4>Company</h4>
                  <ul class="list-unstyled">
                      <li>
                          <a href="about_us.html">About Us</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">Press Releases</a>
                      </li>
                      <li>
                          <a href="terms_of_service.html">Terms of Service</a>
                      </li>
                      <li>
                          <a href="privacy_policy.html">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">Legal</a>
                      </li>
                      <li>
                          <a href="sitemap.html">Site Map</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-lg-3">
              <div class="footer-link-list">
                  <h4>Resources</h4>
                  <ul class="list-unstyled">
                      <li>
                          <a href="javascript:void(0)">Switch to HOXRO LMS</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">Customer Support</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)">Video Tutorials</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <div class="row">
              <div class="col-sm-6 col-lg-8">
                  <p>207 Regent St, Mayfair, London W1B 3HH.</p>
              </div>
              <div class="col-sm-6 col-lg-4">
                  <div class="h4">Sales helpline 0207 118 4400</div>
              </div>
          </div>
      </div>

      <div class="copyright text-center">
          <p class="m-0"> Copyright &copy; 2018 HOXRO Legal Software. All rights reserved.</p>
      </div>
  </div>
</footer>