<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
      <h1 class="text-center section-title">Feature Overview</h1>
      <h3 class="text-center text-light">Hoxro is the world's most intelligent cloud-based legal software designed to
      <br> help you improve your productivity, performance & profitability.</h3>
  </div>
</section>

<section class="section-padding features-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/expense-tracker-icon.png" alt="Expense/Budget Tracking with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Expense/Budget Tracking</div>
                      <p>Create professional bills with one click legal billing baked right inside HOXRO LMS.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/security-icon.png" alt="World class security with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">World class security</div>
                      <p>HOXRO LMS sets the standard for all legal software - whether PC, Cloud or Mobile.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/document-binding-icon.png" alt="Document binding with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Document binding</div>
                      <p>Reduce admin & deliver a better service to your clients. Produce compliant Court bundles in minutes.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/business-intelligence-icon.png" alt="Document binding with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Live business intelligence</div>
                      <p>Live legal case reporting enabling instant analysis and reporting.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/matter-management-icon.png" alt="Matter management with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Legal case management</div>
                      <p>A comprehensive legal case management system for all your law firm's matters.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/licence-management-icon.png" alt="Licence management with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Licence management</div>
                      <p>Accurate and Up-to-date HOXRO LMS Asset Details.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/deployment-icon.png" alt="Deployment Options with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Deployment Options</div>
                      <p>HOXRO LMS can be deployed in the the Cloud on or your local Server. Get the best of both!</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/smart-notification-icon.png" alt="Smart notifications with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Smart notifications</div>
                      <p>Never miss a deadline of your cases again with Smart Notifications keeping you on your toes.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/portal-integration-icon.png" alt="3rd party portal integrations with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">3rd party portal integrations</div>
                      <p>HOXRO LMS integrates with MOJ Portal, Land Registery and also the SDLT Submissions Portal.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/cloud-storage-icon.png" alt="Unlimited Cloud data storage with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Unlimited Cloud data storage</div>
                      <p>One less worry - with HOXRO LMS you get Unlimited Data Storage.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/time-recording-icon.png" alt="Time recording with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Time recording</div>
                      <p>Legal Time Recording Software directly within HOXRO LMS.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-feature">
                  <div class="feature-image">
                      <img src="assets/images/features/technical-support-icon.png" alt="Free Technical Support with HOXRO">
                  </div>
                  <div class="feature-content">
                      <div class="feature-title">Free Technical Support</div>
                      <p>Do you need a strong support package with your System? HOXRO LMS provides Technical Support at no extra charge.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Enterprise section -->
<section class="section-padding section-bg-grey enterprise-section">
  <div class="container">
      <div class="h1 text-primary text-center section-title section-title-hx">Enterprise Level Integrations</div>
      <div class="section-subtitle text-center text-alt mb-5">HOXRO LMS is inttegrates seamlessly with your other enterprice products</div>
      <div class="row">
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-enterprise">
                  <div class="enterprise-image">
                      <img src="assets/images/features/ms-word.png" alt="Microsoft Word is integrated in HOXRO">
                  </div>
                  <div class="h5 enterprise-title text-primary text-bold">Microsoft Word</div>
                  <p class="text-alt">Create and edit documents online or on your computer.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-enterprise">
                  <div class="enterprise-image">
                      <img src="assets/images/features/ms-excel.png" alt="Microsoft Excel is integrated in HOXRO">
                  </div>
                  <div class="h5 enterprise-title text-primary text-bold">Microsoft Excel</div>
                  <p class="text-alt">Create and edit spreadsheets online or on your computer.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-enterprise">
                  <div class="enterprise-image">
                      <img src="assets/images/features/ms-outlook.png" alt="Microsoft Outlook is integrated in HOXRO">
                  </div>
                  <div class="h5 enterprise-title text-primary text-bold">Microsoft Outlook</div>
                  <p class="text-alt">Stay organised with email integrated into HOXRO LMS.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-enterprise">
                  <div class="enterprise-image">
                      <img src="assets/images/features/gmail.png" alt="Google Mail is integrated in HOXRO">
                  </div>
                  <div class="h5 enterprise-title text-primary text-bold">Google Mail</div>
                  <p class="text-alt">Manage Google mail across your business.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-enterprise">
                  <div class="enterprise-image">
                      <img src="assets/images/features/google-calendar.png" alt="Google Calender is integrated in HOXRO">
                  </div>
                  <div class="h5 enterprise-title text-primary text-bold">Google Calendar</div>
                  <p class="text-alt">Create and join calendars across your business.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4 mb-5">
              <div class="single-enterprise">
                  <div class="enterprise-image">
                      <img src="assets/images/features/pdf-reader.png" alt="PDF Viewer is integrated in HOXRO">
                  </div>
                  <div class="h5 enterprise-title text-primary text-bold">PDF Viewer</div>
                  <p class="text-alt">View and manage your PDF documents and bundles.</p>
              </div>
          </div>
      </div>
  </div>
</section>