<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
      <h1 class="text-center section-title">About Us</h1>
      <h4 class="text-center text-light section-title">Hoxro LMS is the world's most intuitive & intelligent legal case management software. Its innovative interface & features are designed to solve all existing problems that lawyers & solicitors face when using legal technology.</h4>
  </div>
</section>

<section class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-5 mb-3 d-none d-sm-block">
              <div class="text-right v-center">
                  <div class="h1 text-primary">TRANSFORMING</div>
                  <div class="h1 text-primary">HOW LAWYERS</div>
                  <div class="h1 text-primary">WORK THROUGH</div>
                  <div class="h1 text-primary">DESIGN &</div>
                  <div class="h1 text-primary">INNOVATION</div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-6 offset-lg-1 mb-3">
              <div>
                  <div class="h1 text-primary text-center section-title section-title-hx mb-4">Our Story</div>
                  <div class="h4 text-light">Poor interfaces cost you in time, energy & productivity. Discover intelligent design that anticipates your actions and shows
                      you relevant features. Perform & complete tasks without leaving your existing window. Just drag & drop to accomplish
                      things instantly.
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding section-bg-grey">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-6 mb-5">
              <div class="h3 text-primary text-center">OUR MISSION</div>
              <div class="h5 text-light">To continuously innovate in order to build a better, smarter & simpler legal software that increases performance, productivity & profitability. To constantly push the limits of technology when it comes to legal software.</div>
          </div>
          <div class="col-sm-12 col-lg-6 mb-5">
              <div class="h3 text-primary text-center">OUR CULTURE</div>
              <div class="h5 text-light">Solve real-life problems. Create smarter solutions. Appreciate different perspectives. Enjoy each other's company. Appearances and backgrounds aren't important to us; ideas and doing the right things are. We value honesty, diversity & transparency. We are passionate about the communities we serve.</div>
          </div>
          <div class="col-sm-12 col-lg-6 mb-5">
              <div class="h3 text-primary text-center">OUR VALUES</div>
              <div class="h5 text-light">To be approachable & friendly. To work with a foundation of integrity. To be efficient & customer-driven. To have a continuous quest for improvement and be at the helm of legal technology.</div>
          </div>
          <div class="col-sm-12 col-lg-6">
              <div class="h3 text-primary text-center">OUR TEAM</div>
              <div class="h5 text-light">Great products are built by talented enthusiasts who are passionate about solving real problems. The Hoxro team brings a well-balanced blend of technology skills, domain knowledge, hands-on experience & effective methodology. We are driven by our mission to continuously innovate the most intelligent legal system for lawyers across the globe.</div>
          </div>
      </div>
  </div>
</section>

<!-- Pricing Section -->
<app-partial-pricing></app-partial-pricing>

<section class="section-padding section-bg-primary pt-5 pb-5">
  <div class="container">
      <div class="h1 text-center section-title">HOXRO has everything you need for your Legal Practice.</div>
      <!-- <div class="h4 text-regular text-center">You can Sign up online today or call us for more information
                  <a href="tel:02071184400">0207 118 4400</a>.</div> -->
      <div class="buttons mt-4">
          <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
          <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Get First License Free</a> -->
      </div>
  </div>
</section>