<section class="section-padding section-bg-primary text-banner-section contact-banner">
  <div class="container">
      <h1 class="text-center section-title">Get in touch with HOXRO</h1>
      <h2 class="text-center text-regular">Need assistance with HOXRO? <br> We'll get you the help you need.</h2>
  </div>
</section>


<section class="section-padding section-bg-grey">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-xl-6">
              <form action="self" class="contact-form">
                  <div class="h3 text-primary text-center section-title section-title-hx mb-4">Send us a message</div>
                  <div class="row">
                      <div class="col-sm-12 col-lg-6">
                          <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control form-control-sm">
                          </div>
                          <div class="form-group">
                              <label>Phone</label>
                              <input type="tel" class="form-control form-control-sm">
                          </div>
                          <div class="form-group">
                              <label>Email</label>
                              <input type="email" class="form-control form-control-sm">
                          </div>
                      </div>
          
                      <div class="col-sm-12 col-lg-6">
                          <div class="form-group">
                              <label>Message</label>
                              <textarea class="form-control" rows="7"></textarea>
                          </div>
                      </div>
                  </div>
          
                  <div class="text-center pt-3">
                      <button type="submit" class="btn btn-primary">
                          <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; SEND
                      </button>
                  </div>
              </form>
          </div>
          <div class="col-12 col-xl-6">
              <div class="hoxro-location">
                  <div class="h3 text-primary text-center section-title section-title-hx mb-4">Our Location</div>
                  <div class="row">
                      <div class="col-lg-8">
                          <div class="frame-content">
                              <iframe [src]="mapURL"
                                  frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="address">
                              <div class="address-title">London Office</div>
                              <ul>
                                  <li>
                                      <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                      207 Regent St, Mayfair, <br> London, W1B 3HH.
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
      <div class="h3 text-primary text-center section-title section-title-hx">More Support options</div>

      <div class="row">
          <div class="col-sm-6 col-lg-4">
              <div class="single-post">
                  <div class="post-image text-center h1 text-success">
                      <i class="fa fa-2x fa-money" aria-hidden="true"></i>
                  </div>
                  <div class="h5 post-title text-medium text-center">Sales Support</div>
                  <p class="text-center">If you would like to speak with a Sales Representative please contact us on <a href="tel:02071184400">020 7118 4400</a>.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="single-post">
                  <div class="post-image text-center h1 text-danger">
                      <i class="fa fa-2x fa-life-ring" aria-hidden="true"></i>
                  </div>
                  <div class="h5 post-title text-medium text-center">Technical Support</div>
                  <p class="text-center">If you would like to speak with a Technical Support Executive, please contact us on <a href="tel:02071184401">020 7118 4400</a>.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="single-post">
                  <div class="post-image text-center h1 text-info">
                      <i class="fa fa-2x fa-wheelchair" aria-hidden="true"></i>
                  </div>
                  <div class="h5 post-title text-medium text-center">Disability Answer Desk</div>
                  <p class="text-center">The Disability Answer Desk is where people with disabilities can get support with HOXRO products and accessibility features.</p>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="section-padding section-bg-primary pt-5 pb-5">
  <div class="container">
      <div class="h1 text-center section-title">HOXRO has everything you need for your Legal Practice.</div>
      <!-- <div class="h4 text-regular text-center">You can Sign up online today or call us for more information
                  <a href="tel:02071184400">0207 118 4400</a>.</div> -->
      <div class="buttons mt-4">
          <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
          <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Get First License Free</a> -->
      </div>
  </div>
</section>
