footer {
    padding: 4vh 0 3vh;
    color: $footer_text_color;
    background: $footer_bg_color;

    * {
        color: $footer_text_color;
    }

    a:hover, a:active {
        color: darken($footer_text_color, 10);
    }

    .footer-link-list {
        margin-bottom: 1rem;

        h4 {
            color: lighten($footer_text_color, 5);
        }
        a {
            font-size: 1rem;
            padding: 0.2rem 0;
            display: inline-block;
        }
    }
    .footer-bottom {
        margin-top: 1rem;
    }
}

@media (max-width: 991px) {
    footer .footer-link-list {
        h4 {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #5f5f5f;
        }

        a {
            padding: 0.5rem 0;
        }
    }
}

.footer-bottom {
        p {
        font-size: 1rem;
        margin-bottom: 0.5rem !important;
    }

    .h4 {
        text-align: center;
        margin-top: 0.3rem;
    }
}