<!-- Pricing of Hoxro section starts -->
<section class="section-padding section-bg-primary">
  <div class="container">
      <div class="h1 text-center section-title">Simple pay-as-you-go plan</div>
      <div class="h4 text-light text-center">Hoxro LMS aims to democratise legal software by making advanced technology more accessible to all lawyers. Manage your firm
      without any upfront installation, onsite technical support or ongoing annual costs. Ideal for small and medium-size law firms.
      No minimum purchases or commitments. No termination costs. Cancel anytime. Sign up for your first license for free.</div>
  </div>
</section>
<!-- Pricing of Hoxro section ends -->

<!-- Pricing Section -->
<app-partial-pricing></app-partial-pricing>

<section class="section-padding section-bg-primary pt-5 pb-5">
  <div class="container">
      <div class="h1 text-center section-title">HOXRO has everything you need for your Legal Practice.</div>
      <!-- <div class="h4 text-regular text-center">You can Sign up online today or call us for more information
                  <a href="tel:02071184400">0207 118 4400</a>.</div> -->
      <div class="buttons mt-4">
          <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
          <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Get First License Free</a> -->
      </div>
  </div>
</section>