<!-- Pricing of Hoxro section starts -->
<section class="section-padding section-bg-primary">
  <div class="container">
      <div class="h1 text-center section-title">Simple pay-as-you-go plan</div>
      <div class="h4 text-light text-center">Hoxro LMS aims to democratise legal software by making advanced technology more accessible to all lawyers. Manage your firm
      without any upfront installation, onsite technical support or ongoing annual costs. Ideal for small and medium-size law firms.
      No minimum purchases or commitments. No termination costs. Cancel anytime. Sign up for your first license for free.</div>
  </div>
</section>
<!-- Pricing of Hoxro section ends -->

<!-- Pricing Section -->
<app-partial-pricing></app-partial-pricing>