<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
      <h2 class="text-center section-title">Securely Access Your Firm</h2>
      <h3 class="text-center">Service Your Clients</h3>
  </div>
</section>

<!-- Sign up Section starts -->
<section class="pt-5 pb-5">
  <div class="container">
      <h1 class="h2 text-primary text-center section-title section-title-hx pb-2 mb-3">Sign Up with HOXRO</h1>
      
      <div class="user-form-container">
          <form class="user-form-form" novalidate action="self">
              <div class="form-group input-group">
                  <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" required>
              </div>
              <div class="form-group input-group">
                  <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" required>
              </div>
              <div class="form-group input-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
              </div>
      
              <div class="form-group input-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
              </div>
      
              <!-- <div class="alert alert-danger">
                  <span>
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  </span> &nbsp; errMsg
              </div> -->

              <button class="btn btn-block login-btn" name="signup">Sign Up</button>
          </form>
      </div>
  </div>

</section><!-- Sign up Section ends -->

<section class="section-padding section-bg-primary pt-5 pb-5">
  <div class="container">
      <div class="h1 text-center section-title">HOXRO has everything you need for your Legal Practice.</div>
      <!-- <div class="h4 text-regular text-center">You can Sign up online today or call us for more information
                  <a href="tel:02071184400">0207 118 4400</a>.</div> -->
      <div class="buttons mt-4">
          <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
          <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Get First License Free</a> -->
      </div>
  </div>
</section>

<!-- Pricing Section -->
<app-partial-pricing></app-partial-pricing>