<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <div class="text-center feature-page-nave">
          <a routerLink="/features/document-management" title="Document Management">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-10">
        <h2 class="text-center text-medium section-title">LEGAL CLIENT & CONTACT MANAGEMENT SOFTWARE</h2>
        <h4 class="text-center text-light">A simple legal CRM system with a clean interface to manage your clients &
          contacts efficiently. This is built into Hoxro LMS and is perfect for building relationships, customer
          retention and email marketing.</h4>
        <div class="buttons">
          <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">View
            Live Demo</a>
          <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">First License FREE for life</a> -->
        </div>
      </div>
      <div class="col-sm-1">
        <div class="text-center feature-page-nave">
          <a routerLink="/features/billing-management" title="Billing Management"><i class="fa fa-angle-right"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-feature-section">
  <app-features-sidebar></app-features-sidebar>
  <main>
    <section class="single-feature-content section-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="h2 text-regular text-center text-primary mb-4 section-title-hx">Build Long-Term Relationships
            </div>
            <h5 class="text-light mb-4">Easily store all your contacts in one single place. View all legal matters of a
              particular client with just a click. Filter client work by individual matter or as a group allowing you to
              update your clients on multiple matters. This enables you to create strong bonds with your clients and
              deliver high service levels at all times.</h5>

            <div class="h2 text-primary text-center mb-4 text-regular section-title-hx">Promote Your Services & Business
            </div>
            <h5 class="text-light mb-4">Increase your bottomline by easily cross & up-selling services to new and
              existing clients. Filter prospective clients in
              seconds with just a click in order to send emails or correspondences. Hoxro LMS has in-built email
              marketing features
              that make creating campaigns and communications easy & simple.</h5>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="text-lg-right text-center">
              <img src="assets/images/features/single-feature-1.jpg" alt="Single Feature">
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="single-feature-content section-padding section-bg-grey bg-img-left">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="text-lg-left text-center">
              <img src="assets/images/features/single-feature-2.png" alt="Single Feature">
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="h2 text-primary text-center mb-4 text-regular section-title-hx">Retain Clients Effectively</div>
            <h5 class="text-light mb-5">Retaining clients is arguably more important than acquiring new ones. Quickly
              view what's happening with your clients' legal matters. Handle and manage complaints effortlessly.
              Instantly analyse key accounts by the number of on-going matters and completed
              matters. With Hoxro LMS, you have access to a host of functions that allow you to provide better customer
              service & support.</h5>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>

<section class="section-padding parallax-section" style="background-image:url('assets/images/work.jpg')">
        <div class="container parallax-container">
            <div class="h1 text-center section-title">Do so much more with Hoxro</div>
            <div class="h5 text-center text-regular mb-5">Hoxro LMS is the world's most intelligent cloud-based legal software designed to help you improve your productivity, performance
            & profitability.</div>
            <div class="text-center">
                <a class="btn btn-rounded-secondary text-white" routerLink="/features">Browse all Features</a>
            </div>
        </div>
    </section>

<section class="section-padding section-bg-primary pt-5 pb-5">
  <div class="container">
    <div class="h1 text-center section-title">HOXRO has everything you need for your Legal Practice.</div>
    <!-- <div class="h4 text-regular text-center">You can Sign up online today or call us for more information
                        <a href="tel:02071184400">0207 118 4400</a>.</div> -->
    <div class="buttons mt-4">
      <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">Live
        Demo</a>
      <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Get First License Free</a> -->
    </div>
  </div>
</section>