<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-10 offset-1">
              <h2 class="text-center text-medium section-title">SMART LEGAL CASE/MATTER MANAGEMENT SOFTWARE</h2>
              <h4 class="text-center text-light">Managing your day-to-day legal cases have never been this easy. Improve efficiency & productivity by executing things faster & better. Easily co-edit, chat & collaborate with team members.</h4>
              <div class="buttons">
                  <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">View Live Demo</a>
                  <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">First License FREE for life</a> -->
              </div>
          </div>
          <div class="col-sm-1">
              <div class="text-center feature-page-nave">
                  <a routerLink="/features/practice-management" title="Practice Management"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="single-feature-section">
  <app-features-sidebar></app-features-sidebar>

  <main>
      <section class="single-feature-content section-padding">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12 col-lg-6">
                      <div class="h2 text-regular text-center text-primary mb-4 section-title-hx">Do & View What Matters</div>
                      <h5 class="text-light mb-4">Hoxro LMS shows all your matters by default the moment you log in. This makes all your matters immediately quickly accessible,
                      saving you time & effort. You can work on your matters and then pick up where you left off on any device. You can even pin
                      and unpin matters in order to prioritise them.</h5>
                      <h5 class="text-light mb-4">You have the choice to work on your matters which perfectly sync with and update your tasks. This makes progressing work
                      on matters easy & efficient</h5>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                      <div class="text-lg-right text-center">
                          <img src="assets/images/features/single-feature-1.jpg" alt="Single Feature">
                      </div>
                      
                  </div>
              </div>
          </div>
      </section>
      <section class="single-feature-content section-padding section-bg-grey bg-img-left">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12 col-lg-6">
                      <div class="text-lg-left text-center">
                          <img src="assets/images/features/single-feature-2.png" alt="Single Feature">
                      </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                      <div class="h2 text-primary text-center mb-4 text-regular section-title-hx">Enhanced Teamwork</div>
                      <h5 class="text-light mb-5">Hoxro LMS enables you to work with both internal and external teams effortlessly. Quickly monitor your production units against set targets and compare to team members. Easily co-edit documents and collaborate on cases. Instantly communicate with your
                      team via chat.</h5>

                      <div class="h2 text-primary text-center mb-4 text-regular section-title-hx">Boost Productivity & Performance</div>
                      <h5 class="text-light mb-4">Want to view where time and effort are being spent within matters? Or need to check the last communication with your client?
                      With Hoxro LMS, you can view & filter all the work done on clients separately. As a manager, you can see how your team members
                      are running their matters. You can review and provide feedback via chat. Easily micromanage without having to spend wasted
                      time and effort in having to go through the full matter history.</h5>
                  </div>
              </div>
          </div>
      </section>
  </main>
</section>

<section class="section-padding parallax-section" style="background-image:url('assets/images/work.jpg')">
  <div class="container parallax-container">
      <div class="h1 text-center section-title">Do so much more with Hoxro</div>
      <div class="h5 text-center text-regular mb-5">Hoxro LMS is the world's most intelligent cloud-based legal software designed to help you improve your productivity, performance
      & profitability.</div>
      <div class="text-center">
          <a class="btn btn-rounded-secondary text-white" routerLink="/features/">Browse all Features</a>
      </div>
  </div>
</section>