<section class="section-padding pricing-section">
  <div class="wrapper">
      <div class="h1 text-primary text-center section-title section-title-hx">Pricing</div>
      <div class="pricing-content">
          <div class="pricing-info">
              <div class="pricing-info-content">
                  <div class="h4 text-center">Get your First Licence FREE for life!</div>
                  <div class="price-tag-content">
                      <div class="price-tag">
                          <span class="currency">£</span>
                          <span class="price">65</span>
                          <span class="price-month">00
                              <br> /mo</span>
                      </div>
                      <p class="vat">
                          <em>per licence excluding VAT</em>
                      </p>
                  </div>
                  <ul>
                      <li><strong>UNLIMITED</strong> cloud storage for collaboration no matter how large the migration</li>
                      <li><strong>DEDICATED</strong> 24/7 technical support</li>
                  </ul>
                  <a class="btn btn-block btn-info" href="javascript:void(0)"><strong>GET YOUR FREE FIRST LICENCE</strong></a>
              </div>
              <div class="mt-5 text-center">
                  <img src="assets/images/payment-methods.jpg" alt="Payment methods of Hoxro">
              </div>
          </div>
          <div class="pricing-table-container">
              <div class="pricing-table-content">
                  <div class="h5">Everthing in One Place</div>
                  <div class="pricing-tables">
                      <!-- Single Pricing Table Starts -->
                      <div class="single-pricing-table">
                          <div class="h6">Matter Management</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Intelligent Matter tracking</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Firm-wide view of each case</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>100s of Precedents and Letters</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Legal Forms</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Legal Accounting & Billing</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Track Billable Hours</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Bank reconciliation</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Track Budgets and Prepare Bills</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Enterprise Level Integrations</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Microsoft Word Online/PC/Mobile</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Microsoft Excel Online/PC/Mobile</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Office365 Email Integration</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                      </div><!-- Single Pricing Table Ends -->

                      <!-- Single Pricing Table Starts -->
                      <div class="single-pricing-table">
                          <div class="h6">Stay Organised</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Notification Centre</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Import/Export/Share Calendars</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Task Manager</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Smart Time Recording Alerts</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Mobile Applications</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>PC, Laptop, Tablet & Mobile</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Native IOS and Android Apps</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>24/7 Access to your Matters</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Flexible Options</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Ability to reassign licenses</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Enterprise Level Security</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>No contractual tie-ins</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                      </div><!-- Single Pricing Table Ends -->
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</section>