<section class="banner-section full-height">
  <div class="container">
      <div class="banner-text">
          <!-- <h2>Rethinking</h2> -->
          <h1>Rethinking <br> Legal Software.</h1>
          <h6>Hoxro legal case management system solves some of the biggest pain points lawyers face with their current legal software. Every feature & functionality is designed to improve your productivity, performance & profitability.</h6>
          
          <div class="buttons">
              <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">View Live Demo</a>
              <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Sign Up</a>
          </div>
      </div>
  </div>
</section>

<section class="section-padding pb-0">
  <div class="container">
      <div class="h1 text-primary text-center section-title section-title-hx">Smart. Simple. Sophisticated.</div>
      <div class="section-subtitle text-center text-alt">User Interface. Features & Functions. Security & Compliance. Integration & Migration. Product Pricing. Nothing is more complicated that they should be. Hoxro LMS is cutting-edge legal technology that cuts out the complexity.</div>

      <div class="row pt-4 pb-4">
          <div class="col-md-6 order-last order-md-first">
              <div class="v-center">
                  <div class="h3 text-primary text-center section-title section-title-hx">One Window Interface</div>
                  <div class="h5 text-light">Designed to save you time and energy. Relevant features appear just when you need them to. Juggle different functions without having to toggle multiple windows. Or sort, copy, move and perform your tasks with simple drag and drop.</div>
              </div>
          </div>
          <div class="col-md-6 order-first order-md-last">
              <div class="mb-3">
                  <img src="assets/images/One-Window.png" alt="One Window Interface - HOXRO LMS">
              </div>
          </div>
      </div>

      <div class="row pt-4 pb-5">
          <div class="col-md-6">
              <div class="mb-3">
                  <img src="assets/images/EveryAspect.png" alt="Manage Every Aspect - HOXRO LMS">
              </div>
          </div>
          <div class="col-md-6">
              <div class="v-center">
                  <div class="h3 text-primary text-center section-title section-title-hx">Manage Every Aspect</div>
                  <div class="h5 text-light">One single legal case management software for Matter, Practice, Document, Contact, Billing & Finance Management. Simplify & streamline
                      your workflow for better efficiency & performance.</div>
              </div>
          </div>
      </div>

      <div class="row pt-5 pb-5">
          <div class="col-md-6 order-last order-md-first">
              <div class="v-center">
                  <div class="h3 text-primary text-center section-title section-title-hx">Built-in Documents</div>
                  <div class="h5 text-light">Handle and manage documents like never before. Packed with thousands of drafts, contacts and precedents, you can create, edit, store and automate effortlessly.</div>
              </div>
          </div>
          <div class="col-md-6 order-first order-md-last">
              <div class="mb-3">
                  <img src="assets/images/one-ap.png" alt="Built-in Documents - HOXRO LMS">
              </div>
          </div>
      </div>
      
      <div class="row pt-4 pb-4">
          <div class="col-md-6">
              <div class="mb-3">
                  <img src="assets/images/inclusiveAccess.png" alt="Work from Anywhere - HOXRO LMS">
              </div>
          </div>
          <div class="col-md-6">
              <div class="v-center">
                  <div class="h3 text-primary text-center section-title section-title-hx">Work from Anywhere</div>
                  <div class="h5 text-light">Hoxro LMS - case management system is an enterprise level web application accessible via web & mobile browsers.Get unlimited cloud storage. Access data & documents on the go.</div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-bg-grey pt-4 pb-4">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="single-post">
                <div class="post-image">
                    <img src="assets/images/everything-you-need.png" alt="Hoxro is everything you need in one place">
                </div>
                <div class="h5 post-title text-primary">Everything you need <br> in one place</div>
                <p>Designed to save you time and energy. Relevant features appear just when you need them to. Juggle different functions without having to toggle multiple windows. Or sort, copy, move and perform your tasks with simple drag and drop.</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="single-post">
                <div class="post-image">
                    <img src="assets/images/manage-every-aspect.png" alt="Hoxro can manage every aspect of your legal practice">
                </div>
                <div class="h5 post-title text-primary">Manage every aspect <br> of your legal practice</div>
                <p>One single software for Matter, Practice, Document, Contact, Billing & Finance Management. Simplify & streamline your workflow for better efficiency & performance.</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="single-post">
                <div class="post-image">
                    <img src="assets/images/built-in-documents.png" alt="Hoxro is everything you need in one place">
                </div>
                <div class="h5 post-title text-primary">Built-in Documents <br> so that you can work from anywhere</div>
                <p>Handle and manage documents like never before. Packed with thousands of drafts, contacts and precedents, you can create, edit, store and automate effortlessly. Hoxro LMS is an enterprise level web application accessible via web & mobile browsers.Get unlimited cloud storage. Access data & documents on the go.</p>
            </div>
        </div>
          <div class="col-sm-6 col-lg-5">
              <div class="single-post mb-3">
                  <div class="post-image">
                      <img src="assets/images/key.png" alt="Hoxro is everything you need in one place">
                  </div>
                  <div class="h5 post-title text-primary">All-inclusive Access</div>
                  <p>Use every feature & function without paying for separate upgrades. A single license gives you the best of everything
                      Hoxro LMS has to offer. We are democratising legal technology by making it more accessible.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-5 offset-lg-2">
              <div class="single-post mb-3">
                  <div class="post-image">
                      <img src="assets/images/secure-shield.png" alt="Hoxro is everything you need in one place">
                  </div>
                  <div class="h5 post-title text-primary">Best-in-class Security</div>
                  <p>We take a safety first approach when it comes to data and privacy. We have partnered with the best technology
                      solution providers to make Hoxro LMS 100% safe & secure. Plus it is Solicitors Accounts Rules complaint.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-5">
              <div class="single-post mb-3">
                  <div class="post-image">
                      <img src="assets/images/deployment-options.png" alt="Hoxro is everything you need in one place">
                  </div>
                  <div class="h5 post-title text-primary">Hybrid Deployment Options</div>
                  <p>Use Hoxro LMS as a web application by leveraging our advanced infrastructure. Or deploy it within your existing
                      cloud infrastructure. You can even deploy it within your local environment where data & document are stored
                      in your local office server.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-5 offset-lg-2">
              <div class="single-post mb-3">
                  <div class="post-image">
                      <img src="assets/images/data-migration.png" alt="Hoxro is everything you need in one place">
                  </div>
                  <div class="h5 post-title text-primary">Quick Migration</div>
                  <p>Looking to shift from legacy software? Hoxro LMS makes it simple. Your data can be seamlessly migrated and your
                      team can be easily on-boarded in just days.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Pricing Section -->
<section class="section-padding pricing-section">
  <div class="wrapper">
      <div class="h1 text-primary text-center section-title section-title-hx">Pricing</div>
      <div class="pricing-content">
          <div class="pricing-info">
              <div class="pricing-info-content">
                  <div class="h4 text-center">Get your First Licence FREE for life!</div>
                  <div class="price-tag-content">
                      <div class="price-tag">
                          <span class="currency">£</span>
                          <span class="price">65</span>
                          <span class="price-month">00
                              <br> /mo</span>
                      </div>
                      <p class="vat">
                          <em>per licence excluding VAT</em>
                      </p>
                  </div>
                  <ul>
                      <li><strong>UNLIMITED</strong> cloud storage for collaboration no matter how large the migration</li>
                      <li><strong>DEDICATED</strong> 24/7 technical support</li>
                  </ul>
                  <a class="btn btn-block btn-info" href="javascript:void(0)"><strong>GET YOUR FREE FIRST LICENCE</strong></a>
              </div>
              <div class="mt-5 text-center">
                  <img src="assets/images/payment-methods.jpg" alt="Payment methods of Hoxro">
              </div>
          </div>
          <div class="pricing-table-container">
              <div class="pricing-table-content">
                  <div class="h5">Everthing in One Place</div>
                  <div class="pricing-tables">
                      <!-- Single Pricing Table Starts -->
                      <div class="single-pricing-table">
                          <div class="h6">Matter Management</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Intelligent Matter tracking</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Firm-wide view of each case</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>100s of Precedents and Letters</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Legal Forms</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Legal Accounting & Billing</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Track Billable Hours</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Bank reconciliation</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Track Budgets and Prepare Bills</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Enterprise Level Integrations</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Microsoft Word Online/PC/Mobile</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Microsoft Excel Online/PC/Mobile</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Office365 Email Integration</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                      </div><!-- Single Pricing Table Ends -->

                      <!-- Single Pricing Table Starts -->
                      <div class="single-pricing-table">
                          <div class="h6">Stay Organised</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Notification Centre</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Import/Export/Share Calendars</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Task Manager</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Smart Time Recording Alerts</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Mobile Applications</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>PC, Laptop, Tablet & Mobile</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Native IOS and Android Apps</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>24/7 Access to your Matters</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                          <div class="h6">Flexible Options</div>
                          <table class="pricing-table table-sm">
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Ability to reassign licenses</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>Enterprise Level Security</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                              <tr class="pricing-tabel-row">
                                  <td class="pricing-table-cell">
                                      <span>No contractual tie-ins</span>
                                  </td>
                                  <td class="pricing-table-cell">
                                      <span>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                      </span>
                                  </td>
                              </tr>
                          </table>
                      </div><!-- Single Pricing Table Ends -->
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding section-bg-primary pt-5 pb-5">
  <div class="container">
      <div class="h1 text-center section-title">HOXRO has everything you need for your Legal Practice.</div>
      <!-- <div class="h4 text-regular text-center">You can Sign up online today or call us for more information
                  <a href="tel:02071184400">0207 118 4400</a>.</div> -->
      <div class="buttons mt-4">
          <a class="btn btn-rounded-outline" href="https://app.hoxro.com/demo" target="_blank">Live Demo</a>
          <!-- <a class="btn btn-rounded-secondary text-white" href="javascript:void(0)">Get First License Free</a> -->
      </div>
  </div>
</section>

<!-- News Section -->
<section class="section-padding section-bg-grey">
  <div class="container">
      <div class="h1 text-primary text-center section-title section-title-hx">Media & News</div>
      <div class="section-subtitle text-center text-alt">Here at HOXRO we are always busy showing off the latest features and picking up the best Awards. Hear about the latest updates here first!</div>

      <div class="row">
          <div class="col-sm-6 col-lg-4">
              <div class="single-post">
                  <div class="post-image">
                      <img src="assets/images/news-thumb-1.jpg" alt="HOXRO LMS makes a splash at the renowned ABA Tech Show, Chicago">
                  </div>
                  <div class="h5 post-title text-primary">HOXRO LMS makes a splash at the renowned ABA Tech Show, Chicago</div>
                  <p>HOXRO LMS has been invited to showcase at the world renowned ABA Tech Show in Chicago between March 7-10, 2018 | Chicago, Illinois.</p>
                  <a class="text-primary mt-auto" href="javascript:void(0)">Read More</a>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="single-post">
                  <div class="post-image">
                      <img src="assets/images/news-thumb-2.jpg" alt="HOXRO LMS found the winning formula at LEGALEX 2017">
                  </div>
                  <div class="h5 post-title text-primary">HOXRO LMS found the winning formula at LEGALEX 2017</div>
                  <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="text-primary mt-auto" href="javascript:void(0)">Read More</a>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="single-post">
                  <div class="post-image">
                      <img src="assets/images/news-thumb-3.jpg" alt="Hoxro is everything you need in one place">
                  </div>
                  <div class="h5 post-title text-primary">HOXRO LMS achieves 100 Law firms in England and Wales</div>
                  <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="text-primary mt-auto" href="javascript:void(0)">Read More</a>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Subscription Section -->
<section class="section-padding section-bg-primary subscription-section">
  <div class="container">
      <div class="h1 text-center section-title">Improve Productivity, Performance & Profit</div>
      <form action="">
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Firm Name">
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="form-group">
                      <input type="tel" class="form-control" placeholder="Telephone">
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email Address">
                  </div>
              </div>
              <div class="col-sm-12 col-lg-3">
                  <button class="btn btn-info" type="button">First Licence Free</button>
              </div>
          </div>
      </form>
  </div>
</section>