<section class="section-padding section-bg-primary text-banner-section">
  <div class="container">
      <h2 class="text-center section-title">Solving Real-life Problems <br> by Inventing Intelligent Solutions</h2>
  </div>
</section>

<!-- Why Hoxro section starts -->
<section class="section-padding">
  <div class="container">
      <div class="h1 text-primary text-center section-title section-title-hx mb-5">Cutting-edge legal technology</div>
      <div class="row">
          <div class="col-sm-12 col-lg-5 mb-3">
              <div class="v-center">
                  <h3 class="text-regular text-primary">The Power of Intuitive Interface</h3>
                  <div class="h5 text-light">Poor interfaces cost you in time, energy & productivity. Discover intelligent design that anticipates your actions and shows
                      you relevant features. Perform & complete tasks without leaving your existing window. Just drag & drop to accomplish
                      things instantly.
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-lg-6 offset-lg-1 mb-3">
              <div class="text-center v-center">
                  <img src="assets/images/why-hoxro/why-hoxro-1.jpg" alt="Hoxro - Cutting-edge legal technology">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding section-bg-grey">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-6 mb-3">
              <div class="text-center v-center">
                  <img src="assets/images/EveryAspect.png" alt="Hoxro - Insights & Intelligence at a Click">
              </div>
          </div>
          <div class="col-sm-12 col-lg-5 offset-lg-1 mb-3">
              <div class="v-center">
                  <div class="h3 text-regular text-primary">Insights & Intelligence at a Click</div>
                  <div class="h5 text-light">Storing and managing data efficiently matters. What matters more is the ability to gain business intelligence & insights instantly. Hoxro LMS empowers you to get a 360-degree view of all aspects of your work.</div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-5 mb-3">
              <div class="v-center">
                  <h3 class="text-regular text-primary">One App for Everything</h3>
                  <div class="h5 text-light">Manage every area of your operations – Matter, Practice, Documents, Contacts, Billing & Finance Management – with just one software. Hoxro LMS comes with thousands of drafts, contacts & precedents to make things easier and simpler.</div>
              </div>
          </div>
          <div class="col-sm-12 col-lg-6 offset-lg-1 mb-3">
              <div class="text-center v-center">
                  <img src="assets/images/inclusiveAccess.png" alt="Hoxro - Cutting-edge legal technology">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section-padding section-bg-grey">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-6 mb-3">
              <div class="text-center v-center">
                  <img src="assets/images/why-hoxro/why-hoxro-2.png" alt="Hoxro - All Devices. All the Time">
              </div>
          </div>
          <div class="col-sm-12 col-lg-5 offset-lg-1 mb-3">
              <div class="v-center">
                  <div class="h3 text-regular text-primary">All Devices. All the Time</div>
                  <div class="h5 text-light">A modern web application, Hoxro LMS gives you unlimited cloud storage. You can access all your data & documents anywhere anytime. Easily edit documents and pick up where you left off.</div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Why Hoxro section ends -->

<!-- Pricing Section -->
<app-partial-pricing></app-partial-pricing>